*{
    background-color: black;
}

.contenedor1{
    display: flex;
    
    background-image: url(../gif/giphy1.gif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0px;
    height: 550px;
    justify-content: center;
    text-align: justify;
}

.contenedor2{
    display: flex;
    
    background-image: url(../gif/giphy\ \(1\).gif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0px;
    height: 550px;
    justify-content: center;
}