body{
   
    background-color: black;
}
h1{
    display: flex;
    color: whitesmoke;
    font-size: x-large;
    font-family: 'Press Start 2P', cursive;
    justify-content: space-around;
    padding: 20px;
    content: auto;
    
}
p{
    color: whitesmoke;
    font-size: x-large;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}
.header{
    display: flex;
    background-image: url(../gif/xK.gif);
    background-position: center;
    background-size: auto;
    
    height: 200px;
}
.separadorHeader{
    display: flex;
    background-image: url(../gif/glich.gif);
    background-position: center;
    background-size: auto;
    
    height: 50px;
}
.contenedor1{
    display: flex;
    
    background-image: url(../gif/EHil.gif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0px;
    height: 550px;
    justify-content: center;
    text-align: justify;
}

.contenedor2{
    display: flex;
    
    background-image: url(../gif/giphy.gif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0px;
    height: 550px;
    justify-content: center;
}
.cont1 , .cont3{
    background-color: rgba(0, 54, 0, 0.438);
    width: 20%;
    padding: 20px ;
    
}
.cont2{
   
    background-color: rgba(0, 54, 0, 0.438);
    width: 50%;
    padding: 20px ;
    /* border: solid black 20px; */
}

footer{
    height: 300px;
}
.divFooterLi , li{
    display: flex;
    justify-content: space-around;

    font-family: 'Press Start 2P', cursive;
    color: whitesmoke;
}

@media ( max-width: 700px ){
    body{
        flex-direction: column;
    }
}